
<h2>検索結果</h2>

<% if @model_type == '会員氏名' %>
  <%= render 'admins/customers/index', customers: @customers %>
<% else @model_type == '商品名' %>
  <%= render 'admins/items/index', items: @items %>
<% end %>
