<table class="table">
	<thead>
		<tr class= "active">
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
			<th colspan="9"></th>
		</tr>
    </thead>
    <tbody>
    	<% customers.each do |customer| %>
		<tr>
			<td><%= customer.id %></td>
			<td><%=link_to customer.full_name, admins_customer_path(customer) %></td>
			<td><%= customer.email %></td>
	        <td><% if customer.is_deleted? %>
				  無効
				<% else %>
				  有効
				<% end %>
	        </td>
		</tr>
		<% end %>
	</tbody>
</table>
