<div class="container">
	<div class="row">
    <div class="col-md-6 col-md-offset-3">
			<h2>ご注文完了</h2>
		</div>
	</div>
</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="text-center">
			  <i class="far fa-check-circle fa-2x ">      ご注文ありがとうございました</i>
		  </div>
		</div>
	</div>
</div>