<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-xs-2">
      <div><%= link_to "カートを空にする", cart_items_destroy_all_path(@cart_items), method: :delete, class:"btn btn-danger" %></div>
    </div>
    <div class="row">
      <thead>
        <tr class="active">
            <th class="col-sm-5">商品名</th>
            <th class="col-sm-2">単価（税込）</th>
            <th class="col-sm-2">数量</th>
            <th class="col-sm-2">小計</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    </div>
  </div>
</div>