<div class="row">
	<div class="main col-md-offset-3 col-md-6">

		<h2>注文履歴詳細</h2>

		<table class="table">
			<tr>
				<th>購入者</th>
				<th><%= link_to @order.customer_id, admins_customer_path(@customer) %></th>
			</tr>
			<tr>
				<th>配送先</th>
				<th><%= @order.order_info %></th>
			</tr>
			<tr>
				<th>支払方法</th>
				<th><%= @order.payment_method %></th>
			</tr>
			<tr>
				<th>注文ステータス</th>
				<th><%= @order.status %></th>
			</tr>
		</table>
	</div>
</div>