<div class="panel" style="margin-top: 50px;">
      <div class="panel-heading">
        <h5 class="panel-title"><%= image_tag 'naganocake2.png', :height => '25' %> ジャンル検索</h5>
      </div>
        <% genres.each do |genre| %>
          <div class="panel-body">
            <%= link_to genre.name, items_path(genre_id: genre.id) %>
          </div>
        <%end%>
    </div>